mixin button-icon(type)
  case type
    when 'close'
      +button('', 'ghost', 'cross')(
        type='button'
        class=`button-icon button-icon--circle ${attributes.class}`
      )
    when 'comparison'
      +button('', '', 'chart')(
        type='button'
        class=`button-icon button-icon--square ${attributes.class}`
      )
    when 'favorite'
      +button('', '', 'heart')(
        type='button'
        class=`button-icon button-icon--square ${attributes.class}`
      )
