svg.visually-hidden(width='0' height='0')
  symbol#arrow(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18')
    path(
      d='M11.1875 15.5625L4.625 9L11.1875 2.4375'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
    )
  symbol#cart(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 21 20')
    path(
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M0.931153 0.903511C0.757504 0.984198 0.598325 1.14377 0.541934 1.29362C0.419156 1.61977 0.576283 2.04264 0.878976 2.20079C0.932346 2.22865 1.53654 2.35502 2.22162 2.48157C2.90675 2.60812 3.47447 2.71873 3.4833 2.72734C3.49211 2.73599 3.97438 5.15641 4.555 8.10608C5.13562 11.0557 5.63743 13.5406 5.67014 13.628C5.74787 13.8356 5.94915 13.9993 6.18762 14.049C6.31547 14.0756 8.03056 14.0851 11.5045 14.0782L16.6327 14.0682L16.7912 13.9832C17.0951 13.8202 17.0579 13.9471 17.9953 9.87472C18.9443 5.75174 18.9259 5.86148 18.716 5.59662C18.655 5.5196 18.5311 5.41866 18.4408 5.37234L18.2765 5.2881H11.8744H5.47236L5.14524 3.61258C4.96533 2.69106 4.78549 1.86636 4.74558 1.77995C4.66058 1.59585 4.49197 1.45563 4.2858 1.39756C4.05773 1.33334 1.30601 0.832409 1.18648 0.833345C1.12811 0.833794 1.0132 0.865358 0.931153 0.903511ZM17.2098 6.79513C17.2092 6.82089 16.9096 8.13929 16.5439 9.72495L15.879 12.608L11.4007 12.6175L6.92246 12.627L6.88222 12.4303C6.8601 12.3221 6.60724 11.0373 6.32036 9.57519C6.03344 8.11308 5.7899 6.87893 5.77912 6.83257L5.75954 6.74833H11.4852C16.0413 6.74833 17.2106 6.75788 17.2098 6.79513ZM6.77548 15.2484C5.42563 15.6035 4.66174 17.0373 5.1166 18.3622C5.70285 20.0697 7.86246 20.5525 9.11665 19.2563C9.52907 18.8302 9.74613 18.3247 9.77902 17.714C9.86693 16.082 8.34776 14.8349 6.77548 15.2484ZM13.9525 15.2321C13.4856 15.3456 12.9866 15.6636 12.6605 16.0554C12.4783 16.2743 12.2402 16.7568 12.1721 17.0448C12.1453 17.1581 12.1237 17.4108 12.1242 17.6065C12.1256 18.2635 12.3597 18.8107 12.8469 19.2959C13.5911 20.0371 14.6494 20.2076 15.5929 19.7384C16.4967 19.2889 17.0184 18.3272 16.9087 17.3131C16.8457 16.7309 16.6476 16.3286 16.2045 15.8828C15.8509 15.5272 15.5176 15.3331 15.0849 15.231C14.7862 15.1606 14.2448 15.1611 13.9525 15.2321ZM7.86817 16.7529C8.1822 16.9544 8.33224 17.2252 8.33355 17.5928C8.33649 18.4224 7.326 18.8561 6.73397 18.2793C6.53328 18.0838 6.46328 17.9347 6.44094 17.655C6.40789 17.242 6.60481 16.8953 6.97281 16.7187C7.23105 16.5947 7.6463 16.6106 7.86817 16.7529ZM14.9179 16.703C15.3593 16.9043 15.5841 17.4458 15.4235 17.9203C15.3551 18.1221 15.1384 18.3507 14.9171 18.4544C14.4085 18.6926 13.793 18.4164 13.6118 17.8687C13.459 17.4069 13.6996 16.8905 14.1615 16.6889C14.3368 16.6124 14.7356 16.6199 14.9179 16.703Z'
    )
  symbol#chart(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16')
    path(
      d='M2 8.64102C2 8.25866 2.31145 7.94871 2.69565 7.94871C3.07985 7.94871 3.39131 8.25866 3.39131 8.64101V13.3077C3.39131 13.69 3.07985 14 2.69565 14C2.31145 14 2 13.69 2 13.3077V8.64102Z'
    )
    path(
      d='M7.30439 2.69231C7.30439 2.30996 7.61584 2 8.00004 2C8.38424 2 8.69569 2.30996 8.69569 2.69231V13.3077C8.69569 13.69 8.38424 14 8.00004 14C7.61584 14 7.30439 13.69 7.30439 13.3077V2.69231Z'
    )
    path(
      d='M12.6087 5.87181C12.6087 5.48945 12.9201 5.1795 13.3043 5.1795C13.6885 5.1795 14 5.48945 14 5.87181V13.3077C14 13.69 13.6885 14 13.3043 14C12.9201 14 12.6087 13.69 12.6087 13.3077V5.87181Z'
    )
  symbol#check(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16')
    path(
      d='M14 4L6.78947 12L2 7'
      stroke='#64B847'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
    )
  symbol#cross(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16')
    path(d='M3 3L13 13M13 3L3 13' stroke-width='2' stroke-linecap='round')
  symbol#heart(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16')
    path(
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M4.11279 2.0431C2.42252 2.30107 1.10557 3.52244 0.733285 5.17727C0.643349 5.5771 0.644813 6.3426 0.736298 6.76166C0.828902 7.1857 0.917087 7.43074 1.12686 7.84678C1.43443 8.45687 1.81349 8.90175 2.80599 9.81739C3.82011 10.753 4.92789 11.7021 6.63589 13.0987C7.17313 13.5381 7.6503 13.9168 7.69627 13.9403C7.81304 14.0002 8.08405 14.0196 8.2143 13.9774C8.33147 13.9394 8.45027 13.8483 9.46327 13.0201C11.6236 11.254 13.4184 9.67232 14.081 8.9507C14.4782 8.51818 14.6867 8.22618 14.8893 7.8186C15.079 7.43725 15.1758 7.16248 15.2661 6.7494C15.3494 6.36825 15.3568 5.59846 15.2805 5.23967C15.0143 3.98704 14.2279 2.97089 13.1023 2.42492C11.9966 1.88861 10.737 1.85877 9.61232 2.34225C9.11914 2.55423 8.77148 2.79468 8.28033 3.26348L8.00094 3.53011L7.69205 3.23569C7.22297 2.78859 6.84859 2.53473 6.34342 2.32117C5.67389 2.03816 4.83247 1.93326 4.11279 2.0431ZM5.18995 3.31227C5.61472 3.38377 5.97254 3.52382 6.32135 3.75508C6.41605 3.81788 6.7518 4.1187 7.06746 4.42357C7.50007 4.84136 7.66967 4.98722 7.75619 5.01577C7.916 5.06853 8.16575 5.06174 8.28708 5.00134C8.34232 4.97383 8.63287 4.71402 8.93275 4.424C9.23263 4.13397 9.564 3.83707 9.66911 3.76424C9.92167 3.58921 10.2407 3.44708 10.5794 3.35863C10.815 3.29713 10.9163 3.28656 11.2715 3.28656C11.6305 3.28656 11.727 3.29685 11.9746 3.36134C13.2972 3.70593 14.1618 4.91754 14.0243 6.23367C13.9686 6.76625 13.7548 7.30746 13.4299 7.73779C13.1408 8.12071 12.2917 8.93529 11.1559 9.91922C10.0627 10.8664 8.04754 12.5396 8.00011 12.5396C7.98619 12.5396 7.64797 12.271 7.24851 11.9428C4.7411 9.88241 3.02794 8.34394 2.57938 7.74977C2.06889 7.07355 1.86213 6.24923 2.00636 5.46515C2.26859 4.03938 3.71181 3.06342 5.18995 3.31227Z'
    )
  symbol#magnifier(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16')
    path(
      d='M5.02303 9.97545L5.51069 9.51244L5.73435 9.79606C4.9366 8.86591 4.52444 7.59691 4.75047 6.24819C5.06291 4.40117 6.60521 2.92622 8.46661 2.70032C11.2787 2.35484 13.6453 4.72008 13.2996 7.53047C13.0736 9.39078 11.5977 10.9322 9.74965 11.2444C8.40013 11.4703 7.13039 11.0584 6.1997 10.2611L6.48541 10.486L6.0202 10.972L3.19487 13.7957C2.92231 14.0681 2.4769 14.0681 2.20434 13.7957C1.93178 13.5233 1.93178 13.0782 2.20434 12.8058L5.02303 9.97545ZM9.01174 9.97545C10.667 9.97545 12.0033 8.64001 12.0033 6.98567C12.0033 5.33133 10.667 3.99589 9.01174 3.99589C7.35642 3.99589 6.0202 5.33133 6.0202 6.98567C6.0202 8.64001 7.35642 9.97545 9.01174 9.97545Z'
    )
    path(
      d='M9.33325 5.66669C9.33325 5.48259 9.18401 5.33335 8.99992 5.33335C8.81582 5.33335 8.66658 5.48259 8.66658 5.66669V8.33335C8.66658 8.51745 8.81582 8.66669 8.99992 8.66669C9.18401 8.66669 9.33325 8.51745 9.33325 8.33335V5.66669Z'
    )
    path(
      d='M10.3333 7.33335C10.5173 7.33335 10.6666 7.18412 10.6666 7.00002C10.6666 6.81593 10.5173 6.66669 10.3333 6.66669H7.66658C7.48249 6.66669 7.33325 6.81593 7.33325 7.00002C7.33325 7.18412 7.48249 7.33335 7.66658 7.33335H10.3333Z'
    )
  symbol#message-cloud(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12 12')
    path(
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M2.4216 0.0160841C1.83472 0.0861774 1.27115 0.357341 0.836514 0.778668C0.385056 1.21634 0.0986108 1.80495 0.0252571 2.44574C-0.00959424 2.75031 -0.00785803 7.0589 0.0272486 7.37442C0.0998109 8.02631 0.411558 8.65638 0.873868 9.08554C1.18636 9.37558 1.64226 9.62932 2.02248 9.72477L2.19393 9.76782L2.20121 10.7093L2.20848 11.6507L2.2862 11.7616C2.43761 11.9776 2.74323 12.063 2.96038 11.9501C3.00881 11.9249 3.75266 11.4338 4.61343 10.8588L6.17842 9.8132H7.86607C9.46302 9.8132 9.56742 9.81041 9.80875 9.76112C10.9745 9.52311 11.8398 8.56869 11.9728 7.37442C12.0079 7.0589 12.0096 2.75031 11.9747 2.44574C11.8736 1.56179 11.3804 0.807294 10.6085 0.35555C10.4164 0.24312 10.1078 0.121301 9.85984 0.0600331C9.63942 0.00559567 9.62073 0.00528873 6.11489 0.000556155C4.17701 -0.00207874 2.51502 0.00490502 2.4216 0.0160841Z'
    )
  symbol#minus(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
    line(
      x1='4'
      y1='11.5'
      x2='20'
      y2='11.5'
      stroke-width='2'
      stroke-linecap='round'
    )
  symbol#plus(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
    path(
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12Z'
    )
    path(
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M12 21C11.4477 21 11 20.5523 11 20V4C11 3.44772 11.4477 3 12 3C12.5523 3 13 3.44772 13 4V20C13 20.5523 12.5523 21 12 21Z'
    )
